header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background:#fff;    
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}
.heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
}

nav.logo a.logo{
    font-size: 2rem;
    color:var(--naranja);
    text-decoration: none;
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color:var(--naranja);
    text-decoration: none;
}

a.logo span{
    color:var(--gris);
}

header .navbar a:hover{
    color:var(--gris);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color:var(--naranja);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}



#navbarSupportedContent > ul > li > a {
    color:var(--naranja);
}

#navbarSupportedContent > ul > li > a.active {
    color:var(--gris);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--naranja);
    font-size: 1.7rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}